<div class="banner">
  <div class="col-md-6 text">
    <h1>Isaac Tullis</h1>
  </div>
  <div class="col-md-6 intro-photo">
    <img src="https://s-media-cache-ak0.pinimg.com/736x/0e/5d/42/0e5d42de0a2a91049c1e2038ec22a6a2.jpg">
  </div>
</div>

<div class="fluid-container">
  <div class="blog">
    <div class="col-md-6">
      <div class="description">
        This is where I write things.
        Duh.
      </div>
    </div>
    <div class="col-md-6">
      <div class="box">
        <div class="text">
          <h1><%=link_to "Blog", "https://medium.com/@isaacjtullis"%></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="projects">
    <div class="col-md-6">
      <div class="box">
        <div class="text">
          <h1>Projects</h1>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="description">
        Fun projects here and there.
      </div>
    </div>
  </div>
</div>
