<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="text-container">
      HI! THIS IS GOING TO BE REALLY LONG
      Technically it is going to go on for however long i want it to go on and
      i am going to see how this operates. So far I like what I am seeing
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
