<div class="container">
  <div class="col-md-12">
    <%= raw(@post.title) %>
    <%= @post.created_at.strftime('%b %d, %Y') %>
    <div><%= raw(@post.body) %></div>

  </div>
  <button type="button" class="btn btn-primary"><%= link_to 'Blog', posts_path%></button>
</div>
