<div class="blog-page">
  <div class="fluid-container">
    <div class="col-md-12">
      <div class="header text-center">
        <h1>Welcome to my blog</h1>
        <div class="divider text-center">
        </div>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-4 blog-posts">
      Content
    </div>
    <div class="col-md-3 side-bar">
      <div class="divider">

      </div>
      Content
    </div>
  </div>
</div>
