/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#bootstrap-overrides {
}

.navbar.navbar-light.bg-faded {
  background-color: #3097D1
}
.navbar.navbar-light.bg-faded a {
  padding: 50px;
  color: black;
}

.profile-picture img {
  margin-top: 50px;
  margin-left: 350px;
  position: relative;
  height: 200px;
  border-radius: 50%;
  display: inline-block;
}
.profile-picture h1 {
  display: inline-block;
  margin: 0px;
  margin-top: 100px;
}

.text-container {
  color: #F9364A;
}


.past-work-container {
  text-align: center;
  margin-top: 50px;
}

.past-work-container p.banner {
  color: #DA3638;
  font-size: 30px;
  font-weight: 700;
  font-family: sans-serif;
}

.center-text {
  margin-bottom: 50px;
}

.past-work-container h3 a {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #7ACED6;
  font-weight: 700;
  font-family: sans-serif;
}

.past-work-container p {
  margin-bottom: 20px;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.photo-container {
  background-color: #E4E3E3;
  margin: 50px;
}
.photo-container img {
  margin: 50px;
  height: 150px;
  display: inline-block;
}
